<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.lookst.post.dao.PostMapper">
  		
  		<resultMap type="Prdt_Img" id="prdt_Img">
                <result column="prdt_img_no" property="prdt_img_no" />
                <result column="prdt_img_seq" property="prdt_img_seq" />
                <result column="prdt_img_name" property="prdt_img_name" />
        </resultMap>
        <resultMap type="Product" id="Product">
                <result column="product_no" property="product_no" />
                <result column="product_kind" property="product_kind" />
                <result column="product_price" property="product_price" />
                <result column="product_date" property="product_date" />
                <result column="product_name" property="product_name" />
                <result column="product_type" property="product_type" />
                <result column="product_info" property="product_info" />
                <collection property="prdt_Img" resultMap="prdt_Img" />
        </resultMap>   
   <select id="post_img_list" resultType="Post_imgDto">
      select * from post_img pi2 
      order by post_img_no asc
   </select>
   
   <select id="postImgListCarousel" parameterType="Integer" resultType="Post_imgDto">
      select post_img.post_img_img  from post post, post_img post_img  
      where post.post_no = post_img.post_no  
      and post.post_type = 'Y'
      and post.post_no = #{post_no}
      order by post_img.post_img_seq;
   </select>
      
   <select id="postImgListPrdt" parameterType="Integer" resultType="snslist_infoDto">
      select post_tag_img , post_tag_name ,post_tag_price  from post_tag post_tag, post post 
      where post.post_no = post_tag.post_no 
      and post_tag.post_no = #{post_no}
      and post.post_type = 'Y'
      order by post_tag_no
   </select>
   
   <select id="snscommentlist" parameterType="Integer" resultType="PostDto">
      select profile.profile_img , member.member_nick , sns_comment.sns_comment_con , sns_comment.sns_comment_date 
      from member member, sns_comment sns_comment, profile profile , post post
      where profile.member_id = member.member_id 
      and member.member_id = sns_comment.member_id 
      and sns_comment.post_no = post.post_no  
      and sns_comment.post_no = #{post_no}
      and post.post_type = 'Y'
      order by sns_comment_seq;
   </select>
   
   <select id="postComTaglist" parameterType="Integer" resultType="post_com_tagDto">
         select profile.profile_img , member.member_nick , post.post_content , tag.tag_content, member.member_id
       from post post, tag tag, member member, profile profile
       where post.post_no = tag.post_no 
       and profile.member_id = member.member_id 
       and post.member_id = member.member_id 
       and post.post_no = #{post_no}
       and post.post_type = 'Y';
   </select>
   
   <select id="snsmainimg" parameterType="Integer" resultType="sns_Main_ImgDto">
      select post_img.post_img_img  
      from post post, post_img post_img  
      where post.post_no = post_img.post_no  
      <!-- and post.post_no = #{post_no} -->
      and post_img.post_img_seq = 1
      and post_type = 'Y'
      order by post_date desc;
   </select>
   
   <select id="snsPrdtImg" parameterType="Integer" resultType="snsPrdtImgDto">
      select post_tag_img , post_tag_name ,post_tag_price  
      from post_tag post_tag, post post 
      where post.post_no = post_tag.post_no 
      <!--and post_tag.post_no = 1 -->
      and post.post_type = 'Y'
      order by post_tag_no;
   </select>
   
   <select id="snsComTag" parameterType="Integer" resultType="sns_com_tagDto">
      select profile.profile_img , member.member_nick , post.post_content , tag.tag_content 
      from post post, tag tag, member member, profile profile
      where post.post_no = tag.post_no 
      and profile.member_id = member.member_id 
      and post.member_id = member.member_id 
      <!--and post.post_no = 1 -->
      and post.post_type = 'Y'
   </select>
   
   <select id="postTotalList" resultType="TpostDto">
      select post_no from post
      where post_type = 'Y'
      order by post_date desc
   </select>
   
<!--    <select id="orderPagePrdt" parameterType="Integer" resultType="OrderPagePrdtDto">
      select pt.post_tag_img , pt.post_tag_name ,pt.post_tag_price, p.product_info 
      from post_tag pt , product p
      where pt.product_no = p.product_no
      and pt.product_no = 1
   </select> -->
   
<!--    <insert id="orderFormpage" parameterType="orderFormPageDto">
      INSERT INTO prdt_order
         (prdt_order_person, prdt_order_phone, member_id, prdt_order_addr, prdt_order_addr2, prdt_order_quan)
      VALUES
         (#{prdt_order_person}, #{prdt_order_phone}, #{member_id},#{prdt_order_addr},#{prdt_order_addr2},#{prdt_order_quan})
   </insert> -->
   
<!--    <select id="orderFormList" resultType="orderFormPageDto">
      select po.prdt_order_person , po.prdt_order_phone , po.member_id
      from prdt_order po 
      where po.prdt_order_type = 'Y';
   </select> -->
   
   <select id="orderInfo" parameterType="Integer" resultType="OrderInfoDto">
	  select *
      from product product, prdt_img prdt_img 
      where product.product_no = prdt_img.product_no
      and product.product_no = #{product_no}
      and prdt_img.prdt_img_seq = 1;
   </select>
   <!-- <select>
	  select pi2.prdt_img_name , p.product_name , p.product_price , p.product_info 
	  from product p , prdt_img pi2 
	  where p.product_no = pi2.product_no 
	  and p.product_no = #{product_no}
	  and p.product_type = 'Y';
   </select> -->
   
    <!-- 상품 리스트 sql -->
      <sql id="selectFromShopList">
        select product.product_no, product.product_kind, product.product_price, product.product_name, product.product_info, prdt_img.prdt_img_name
		from product product, prdt_img prdt_img
		where product.product_no = prdt_img.product_no
		and product.product_type = 'Y'
		<!-- and product.product_kind = 'T' -->
		and prdt_img.prdt_img_seq = 1
      </sql>
      <!-- 상품 리스트 검색 리스트 sql -->
      <sql id="searchShopCondition">
           <choose>
              <when test='option=="N"'>
                   AND product.product_name LIKE concat('%', #{keyword},'%')
              </when>
              <otherwise>
              		AND (product.product_name LIKE concat('%', #{keyword}, '%')
					OR product.product_kind LIKE concat('%', #{keyword}, '%'))
              </otherwise>
           </choose>
      </sql>
      <!-- productList 상품정렬 sql문 -->
      <sql id="productSortCondition">
      	<choose>
      		<when test='sort == "U"'>
      			order by product.product_price
      		</when>
      		<when test='sort == "D"'>
      			order by product.product_price desc
      		</when>
      		<otherwise>
      			order by product.product_date desc
      		</otherwise>
      	</choose>
      </sql>
      <!-- 상품 카테고리 쿼리스트링 -->
<!--       <sql id="productShopCategory">
      	<choose>
      		<when test = 'kind=="T"'>
      			AND product.product_kind = #{kind}괄호안에 productDto kind 
      		</when>
      		<when test = 'kind=="P"'>
      			AND product.product_kind = #{kind}괄호안에 productDto kind 
      		</when>
      		<when test = 'kind=="S"'>
      			AND product.product_kind = #{kind}괄호안에 productDto kind 
      		</when>
      		<when test = 'kind=="B"'>
      			AND product.product_kind = #{kind}괄호안에 productDto kind 
      		</when>
      		<otherwise>
      			AND product.product_kind = #{kind}괄호안에 productDto kind 
      		</otherwise>
      	</choose>
      </sql> -->
      
      <!-- 상품 리스트 토탈 출력 -->
      <select id="shopListCnt" parameterType="SearchItem_prdtlist" resultType="int">
              select count(*)
			  from product product, prdt_img prdt_img
			  where product.product_no = prdt_img.product_no
		      and product.product_type = 'Y'
			  and prdt_img.prdt_img_seq = 1
              and true
              and product.product_kind = #{kind}
              <include refid="searchShopCondition" />
      </select>
      <!-- 상품 리스트 서치 출력 -->
      <select id="shopListPage" parameterType="SearchItem_prdtlist" resultMap="Product">
              <include refid="selectFromShopList" />
              and true
              and product.product_kind = #{kind}
              <include refid="searchShopCondition" />
              <!-- <include refid="productShopCategory" /> -->
              <include refid="productSortCondition" />
              <!-- order by product.product_date desc -->
              limit #{pageSize} offset #{offset}
      </select>
      
      <!-- 상품 주문내역조회 -->
   	  <select id="orderHistory" parameterType="String" resultType="OrderHistoryDto">
   	  	select po.prdt_order_no , pi2.prdt_img_name, p.product_name, po.prdt_order_size ,po.prdt_order_color, po.prdt_order_quan , po.prdt_order_date 
   	  			,po.prdt_order_price, po.prdt_order_type, po.prdt_order_cancel
		from product p , prdt_order po , prdt_img pi2 
		where po.product_no = p.product_no 
		and p.product_no = pi2.product_no 
		and pi2.prdt_img_seq = 1
		and po.member_id = #{member_id}
		and p.product_type = 'Y'
		order by prdt_order_date desc
   	  </select>
   	  
   	  <!-- 주문내역취소 -->
	  <!-- <delete id="prdtOrderDel" parameterType="map">
	  	delete from prdt_order 
		where prdt_order_no = #{prdt_order_no}
		and member_id = #{member_id}
	  </delete> -->
	  
	  <update id="prdtOrderUpdate" parameterType="int">
		UPDATE public.prdt_order
		SET prdt_order_cancel='D'
		WHERE prdt_order_no= #{prdt_order_no};
	  </update>
</mapper>